

<div class="container flex flex-wrap -mb-4 ml-5 mr-5 mt-5 gap-5">
    
{{#each datafromDB }}

    <div class="w-1/3 max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src="https://blog.erasmusgeneration.org/sites/default/files/articles/2022-02/576364502a3f379b77617193680e21ff.jpg" alt="Sunset in the mountains">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{this.name}}</div>
        <p class="text-gray-700 text-base">
        {{this.description}}
        </p>
    </div>
    <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{this.genre}}</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{this.location}}</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{this.season}}</span>
    </div>
    </div>

{{/each}}

</div>